@use './_colors';
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

*,
.regular {
  font-family: Arial, Helvetica, sans-serif;
  color: colors.$secondary;
}

h1,
h2,
h3,
h4,
h5,
.bold {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
